<template>
  <div class="about">
    <VueDragScroll />
  </div>
</template>
<script>
// @ is an alias to /src
import VueDragScroll from "@/components/VueDragScroll.vue";
export default {
  name: "Home",
  components: {
    VueDragScroll
  }
};
</script>
<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
</style>
