<template>
  <div class="hello">
    ci自动化部署
    <button @click="handleClick">防抖测试</button>
  </div>
</template>

<script>
import { debounce } from "@/utils";
console.log(debounce);
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  methods: {
    handleClick: debounce(function() {
      this.submit();
    }, 300),
    submit() {
      console.log(1111);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
